In [5]:
import pandas as pd

In [3]:
df_all = pd.read_excel("./ipl_csv/Ball by Ball Data (2007 - 2022).xlsx")

In [4]:
df_all_info = pd.read_excel("./ipl_csv/Match Details (2007 - 2022).xlsx")

In [6]:
df_all.shape

(225954, 22)

In [7]:
df_all_info.shape

(950, 23)

In [11]:
df_all.describe(include="all")

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
count,2.259540e+05,225954.0,225954,225954,225954.000000,225954.000000,225954,225954,225954,225954,...,225954.000000,7026.000000,918.000000,583.000000,3531.000000,2.0,11151,11151,0.0,0.0
unique,NaN,15.0,706,49,NaN,NaN,18,18,605,595,...,NaN,NaN,NaN,NaN,NaN,NaN,10,573,NaN,NaN
top,NaN,2013.0,2020-10-18,Eden Gardens,NaN,NaN,Mumbai Indians,Mumbai Indians,V Kohli,S Dhawan,...,NaN,NaN,NaN,NaN,NaN,NaN,caught,RG Sharma,NaN,NaN
freq,NaN,18177.0,520,17988,NaN,NaN,27826,27854,5266,5526,...,NaN,NaN,NaN,NaN,NaN,NaN,6837,194,NaN,NaN
mean,8.320470e+05,NaN,NaN,NaN,1.483868,9.547583,NaN,NaN,NaN,NaN,...,0.066907,1.206234,1.038126,1.859348,1.301614,5.0,NaN,NaN,NaN,NaN
std,3.379542e+05,NaN,NaN,NaN,0.503104,5.683986,NaN,NaN,NaN,NaN,...,0.341470,0.792866,0.342652,1.307175,0.843200,0.0,NaN,NaN,NaN,NaN
min,3.359820e+05,NaN,NaN,NaN,1.000000,0.100000,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,NaN,NaN
25%,5.012620e+05,NaN,NaN,NaN,1.000000,4.500000,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,NaN,NaN
50%,8.297370e+05,NaN,NaN,NaN,1.000000,9.400000,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,NaN,NaN
75%,1.178395e+06,NaN,NaN,NaN,2.000000,14.400000,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,4.000000,1.000000,5.0,NaN,NaN,NaN,NaN
max,1.312200e+06,NaN,NaN,NaN,6.000000,19.900000,NaN,NaN,NaN,NaN,...,7.000000,5.000000,5.000000,4.000000,5.000000,5.0,NaN,NaN,NaN,NaN

In [9]:
df_all_info.describe()

       balls_per_over  match_number      win_by      match_id
count           950.0    892.000000  932.000000  9.500000e+02
mean              6.0     30.913677   17.056867  8.304852e+05
std               0.0     18.040619   21.633109  3.375678e+05
min               6.0      1.000000    1.000000  3.359820e+05
25%               6.0     15.750000    6.000000  5.012612e+05
50%               6.0     31.000000    8.000000  8.297380e+05
75%               6.0     46.000000   19.000000  1.175372e+06
max               6.0     72.000000  146.000000  1.312200e+06

In [16]:
df_all.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1082591,2017,2017-04-05,"Rajiv Gandhi International Stadium, Uppal",1,0.1,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Dhawan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1082591,2017,2017-04-05,"Rajiv Gandhi International Stadium, Uppal",1,0.2,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Dhawan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1082591,2017,2017-04-05,"Rajiv Gandhi International Stadium, Uppal",1,0.3,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Dhawan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1082591,2017,2017-04-05,"Rajiv Gandhi International Stadium, Uppal",1,0.4,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Dhawan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1082591,2017,2017-04-05,"Rajiv Gandhi International Stadium, Uppal",1,0.5,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Dhawan,...,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_all_info.head()

,balls_per_over,team,gender,season,date,event,match_number,venue,city,toss_winner,...,reserve_umpire,tv_umpire,match_referee,winner,win_by,match_id,winner_type,method,outcome,eliminator
0,6,Sunrisers Hyderabad,male,2017,2017/04/05,Indian Premier League,1.0,"Rajiv Gandhi International Stadium, Uppal",Hyderabad,Royal Challengers Bangalore,...,N Pandit,A Deshmukh,J Srinath,Sunrisers Hyderabad,35.0,1082591,runs,NaN,NaN,NaN
1,6,Rising Pune Supergiant,male,2017,2017/04/06,Indian Premier League,2.0,Maharashtra Cricket Association Stadium,Pune,Rising Pune Supergiant,...,Navdeep Singh,VK Sharma,M Nayyar,Rising Pune Supergiant,7.0,1082592,wickets,NaN,NaN,NaN
2,6,Gujarat Lions,male,2017,2017/04/07,Indian Premier League,3.0,Saurashtra Cricket Association Stadium,Rajkot,Kolkata Knight Riders,...,K Srinivasan,YC Barde,V Narayan Kutty,Kolkata Knight Riders,10.0,1082593,wickets,NaN,NaN,NaN
3,6,Kings XI Punjab,male,2017,2017/04/08,Indian Premier League,4.0,Holkar Cricket Stadium,Indore,Kings XI Punjab,...,R Pandit,KN Ananthapadmanabhan,Chinmay Sharma,Kings XI Punjab,6.0,1082594,wickets,NaN,NaN,NaN
4,6,Royal Challengers Bangalore,male,2017,2017/04/08,Indian Premier League,5.0,M.Chinnaswamy Stadium,Bengaluru,Royal Challengers Bangalore,...,Navdeep Singh,A Nand Kishore,J Srinath,Royal Challengers Bangalore,15.0,1082595,runs,NaN,NaN,NaN

In [21]:
df_all.isna()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
225950,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,False,False,True,True
225951,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,True,True,True,True,True
225952,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
225953,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True

In [22]:
df_all.isna().sum()

match_id                       0
season                         0
start_date                     0
venue                          0
innings                        0
ball                           0
batting_team                   0
bowling_team                   0
striker                        0
non_striker                    0
bowler                         0
runs_off_bat                   0
extras                         0
wides                     218928
noballs                   225036
byes                      225371
legbyes                   222423
penalty                   225952
wicket_type               214803
player_dismissed          214803
other_wicket_type         225954
other_player_dismissed    225954
dtype: int64

In [23]:
df_all_info.isna().sum()

balls_per_over       0
team                 0
gender               0
season               0
date                 0
event                0
match_number        58
venue                0
city                51
toss_winner          0
toss_decision        0
player_of_match      4
umpire               0
reserve_umpire      24
tv_umpire            3
match_referee        0
winner              18
win_by              18
match_id             0
winner_type         18
method             931
outcome            932
eliminator         936
dtype: int64

In [25]:
df_all["season"].unique()

array([2017, 2018, 2019, '2020/21', 2021, 2022, '2007/08', 2009,
       '2009/10', 2011, 2012, 2013, 2014, 2015, 2016], dtype=object)

list(df_all["season"] == 2021)[57009:57039]

df_all[l]

In [49]:
df_3_season = df_all[df_all["season"].isin([2021,"2020/21", 2022])] ## 2020/21, 2021, 2022

In [54]:
df_3_season_info = df_all_info[df_all_info["season"].isin(["2021","2020/21", "2022"])] ## 2020/21, 2021, 2022

In [55]:
df_3_season["season"].unique()

array(['2020/21', 2021, 2022], dtype=object)

In [56]:
df_3_season_info["season"].unique()

array(['2020/21', '2021', '2022'], dtype=object)

In [61]:
df_all.dtypes ## binary, int, string, float, decimal, object, list, dictionary, tuple, class

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [63]:
df_all_info.dtypes

balls_per_over       int64
team                object
gender              object
season              object
date                object
event               object
match_number       float64
venue               object
city                object
toss_winner         object
toss_decision       object
player_of_match     object
umpire              object
reserve_umpire      object
tv_umpire           object
match_referee       object
winner              object
win_by             float64
match_id             int64
winner_type         object
method              object
outcome             object
eliminator          object
dtype: object

In [66]:
df_all["match_id"] = df_all["match_id"].astype("string")

In [67]:
df_all.dtypes

match_id                   string
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [68]:
df_3_season[]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
42460,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.1,Mumbai Indians,Chennai Super Kings,RG Sharma,Q de Kock,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42461,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.2,Mumbai Indians,Chennai Super Kings,RG Sharma,Q de Kock,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42462,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.3,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42463,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.4,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42464,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.5,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89351,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.3,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89352,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.4,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89353,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.5,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89354,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.6,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89355,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,18.1,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df_3_season[(df_3_season["season"].isin([2022, 2021])) & (df_3_season["batting_team"] == "Mumbai Indians")][["season", "batting_team", "start_date"]]

      season    batting_team  start_date
57019   2021  Mumbai Indians  2021-04-09
57020   2021  Mumbai Indians  2021-04-09
57021   2021  Mumbai Indians  2021-04-09
57022   2021  Mumbai Indians  2021-04-09
57023   2021  Mumbai Indians  2021-04-09
...      ...             ...         ...
88154   2022  Mumbai Indians  2022-05-21
88155   2022  Mumbai Indians  2022-05-21
88156   2022  Mumbai Indians  2022-05-21
88157   2022  Mumbai Indians  2022-05-21
88158   2022  Mumbai Indians  2022-05-21

[3332 rows x 3 columns]

In [100]:
df_3_season

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
42460,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.1,Mumbai Indians,Chennai Super Kings,RG Sharma,Q de Kock,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42461,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.2,Mumbai Indians,Chennai Super Kings,RG Sharma,Q de Kock,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42462,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.3,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42463,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.4,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42464,1216492,2020/21,2020-09-19,Sheikh Zayed Stadium,1,0.5,Mumbai Indians,Chennai Super Kings,Q de Kock,RG Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89351,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.3,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89352,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.4,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89353,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.5,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89354,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.6,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89355,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,18.1,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df_3_season.loc[[42460, 42461], ["season", "match_id"]]

        season  match_id
42460  2020/21   1216492
42461  2020/21   1216492